
/* default */
input { color: #000; }

/*--------------------------*/


/* navbar */
.narra-lf-navbar {
	padding: 25px 40px 15px 40px;
	/*padding-bottom: 0px;*/
	/*background-color: #019FCE;*/
}

.narra-lf-navbar-logo > h5 {
	float: left;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	color: #F9FFFD;
	letter-spacing: 2px;
}

.narra-lf-navbar-logo > h5 > small {
	color: #F9FFFD;
	font-weight: 100;
	font-size: 15px;
	letter-spacing: 0px;
}

.narra-lf-navbar-menu {
	float: right;
}

.narra-lf-navbar-menu > a {
	margin-left: 20px;
	font-weight: 600;
	color: #F9FFFD;
	text-decoration: none;
	font-size: 13px;
}

.narra-lf-navbar-menu > button {
	margin-left: 20px;
}

/*--------------------------*/


/* banner */
.narra-lf-banner {
	height: 500px;
	background: url("../images/bg.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.narra-lf-banner-content {
	color: #F9FFFD;
	font-weight: 100;
	padding: 35px;
}

.narra-lf-banner-content > center > h2 {
	letter-spacing: 2px;
	/*line-height: 60px;*/
}


/*--------------------------*/


/* strip-note */
.narra-lf-strip-note {
	padding: 5px;
	background-color: #000000;
	color: #F9FFFD;
}

.narra-lf-strip-note-1 {
	display: inline-block;
	color: #F19D17;
	font-weight: 500;
}


/*--------------------------*/


/* content-light */
.narra-lf-content-light {
	padding: 40px 15px 40px 15px;
}

.narra-lf-content-body {
	text-align: center;
	color: #969696;
}

.narra-lf-content-body > .material-icons {
	font-size: 40px;
}

.narra-lf-content-qoute {
	padding: 15px;
}

.narra-lf-content-qoute > h4 {
	letter-spacing: 1px;
}

.narra-lf-content-qoute-author {
	padding-right: 15px;
	float: right;
	margin-top: -50px;
}

.narra-lf-content-qoute-author > span {
	font-weight: bold;
	letter-spacing: 0px;
}

.narra-lf-content-partner {
	text-align: center;
}

.narra-lf-content-partner > i {
	font-size: 50px;
	color: #5B5B5B;
}

/*--------------------------*/


/* content-dark */
.narra-lf-content-dark {
	background-color: #F7F8FA;
	padding-bottom: 50px;
	/*padding: 40px 15px 40px 15px;*/
}

.narra-lf-content-title {
	padding-top: 60px;
	padding-bottom: 30px;
	color: #4B4C4E;
}

.narra-lf-content-colTitle {
	font-weight: 600;
	text-align: center;
	color: #4C4D4F;
	margin-top: 25px;
}

.narra-lf-content-colcontent {
	color: #4C4D4F;
	text-align: center;
	font-size: 13px;
	/*padding-bottom: 20px;*/
}

.lnr {
	font-size: 80px;
	font-weight: 100;
}

.narra-lf-content-signup {
	padding: 50px;
}

.narra-lf-content-signup > h4 {
	display: inline-block;
}

/*--------------------------*/


/* footer */
.narra-lf-footer {
	padding: 40px 20px 40px 20px;
	background-color: #1A1A1A;
}

.narra-lf-footer-author {
	display: inline-block;
	color: #F9FFFD;
}

.narra-lf-footer-title {
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	color: #F9FFFD;
	letter-spacing: 2px;
}

.narra-lf-footer-subtitle {
	color: #F9FFFD;
}

.narra-lf-footer-note {
	color: #F9FFFD;
}

/*--------------------------*/