/*landing folio*/

/* default */
input { color: #000; }

.narra-lf-icon-bg {
	padding: 20px;
	border-radius: 50%;
	background-color: #2DCC70;
	width: 40px;
	height: 40px;
}

.button-success {
	background-color: #2DCC70;
	color: #FFFFFF;
}

/* navbar */
.narra-lf-navabr {
	background-color: #2DCC70;
	height: 10px;
}

/* banner */
.narra-lf-banner {
	height: 600px;
	background: url("../images/bg.png") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.narra-lf-banner-content > h1 {
	/* remove h1 and h3 new line */
	display: inline-block;

	font-family: "Tangerine", serif;
	font-size: 148px;
	text-align: center;
	font-weight: bold;
	color: #F5F6F8;
	padding-top: 18%;
}

.narra-lf-banner-content > h3 {
	display: inline-block;
	color: #F5F6F8;
}

.narra-lf-banner-content > h6 {
	/*display: inline-block;*/
	font-weight: 500;
	font-size: 19px;
	color: #F5F6F8;
	margin-bottom: 0px;
}

.narra-lf-banner-imgs {
	height: 50px !important;
	margin: 10px;
}

/* body content: dark */
.narra-lf-body-dark {
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #E3E3E3;
}

/* body content: light */
.narra-lf-body-light {
	padding-top: 20px;
	padding-bottom: 40px;
}

.narra-lf-body-column {
	padding-top: 4%;
	color: #9C9C9C;
}

.narra-lf-body-column > h5 {
	font-weight: 500;
	color: #212121;
	text-align: center;
}

.material-icons {
	color: #FFFFFF;
	font-size: 40px;
	text-align: center;
}

.narra-lf-body-center-only {
	padding-top: 5%;
}

.narra-lf-body-faces {
	margin-top: 30px;
	margin-bottom: 30px;
}

.narra-lf-body-center-only > i {
	color: #9C9C9C;
	font-size: 18px;
}

.narra-lf-body-center-only > span {
	color: #9C9C9C;
}

.narra-lf-credit-icon-bg {
	padding: 10px;
	border-radius: 50%;
	background-color: #D3D3D3;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 20px 6px 5px 6px;
}

.narra-lf-credit-icon-bg-unique {
	background-color: #2DCC70;
}

.narra-lf-credit-icon-bg > .material-icons {
	font-size: 20px;
}

/* bottom menu */
.narra-lf-main-menu {
	padding-bottom: 20px;
}

.narra-lf-menu {
	margin: 20px;
	text-decoration: none;
	color: #9C9C9C;
}

/* footer */
.narra-lf-footer {
	/*height: 150px;*/
	padding: 2%;
	background-color: #1C1F26;
	color: #D9DADC;
}

.narra-lf-footer-author {
	display: inline-block;
}

.narra-lf-footer-title {
	font-family: "Tangerine", serif;
	font-size: 50px;
	margin: 0px;
	padding: 0px;
}

.narra-lf-footer-note {
	color: #9C9C9C;
}