.thumbnail {
	position: relative;
	padding: 0px !important;
	margin: 0px !important;
	border: none;
}

.caption {
	position: absolute;
	top: 15%;
}

.navbar { margin: 0px; }
.banner-img {
	width:100%;
	min-height: 500px;
	object-fit: cover;
}

.caption-heading {
	font-size: 60px;
	font-weight: bold;
	color: #f5f5f5;
}

.caption-sub {
	font-size: 30px;
	font-weight: 400;
	color: #f5f5f5;
}

.divider {
	border-bottom: 2px solid #f5f5f5;;
	padding-bottom: 10px;
}

.counters {
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	color: #f5f5f5;
}

.counter-container { margin-top: 50px; }
.alter-bg { background-color: #f5f5f5;}
.alter-w-panel { 
	padding-top: 30px;
	padding-bottom: 30px; 
}
.alter-w-sponsor { 
	padding-top: 15px;
	padding-bottom: 15px; 
}
.feature-panel { 
	border: none; 
	box-shadow: none;
}

.blog-image { 
	width: 100%;
	min-height: inherit;
	background-color: red;
	padding: 0px;
	background-image: url("http://placekitten.com/600/300");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.blog-content {
	padding: 0px;
	min-height: 285px;
}
.blog-content > .panel { 
	min-height: inherit; 
	margin: 0px;
}
.blog-content > .panel > .panel-body { 
	padding-top: 5px;
	padding-right: 10%; 
	padding-left: 10%;
}

.blog-title-text { font-size: 50px; }
.price-heading {
	font-size: 30px;
	color: #fff !important;
	padding: 5%;
}

.price-sub {
	font-size: 15px;
	/*border-top: 1px solid #fff; 
	margin-top: 10px;
	padding-top: 5px;*/
}

.price-main { font-size: 50px; }
.price-amount-area {
	padding-top: 15%;
	padding-bottom: 15%;
}

.pricing-panel-main {
	padding: 7px;
	padding-top: 5px;
}

.pricing-panel-hit {
	padding: 0px;
	margin: 0px;
}

.pricing-panel-hit > .panel { padding: 5px; }
.team-member { 
	padding: 10%; 
	border: none;
}

.developers-in { padding: 0 15% 5% 15%; }
.footer-part { padding: 5% 5% 5px 5%; }
.block-small-all { font-size: 15px; }
.footer-txt { color: grey; }
blockquote { border-color: grey; } 
