
/* default */
h1, h2, h3, h4, h5, h6 {
	display: inline-block !important;
	margin: 0px;
}

h5 {
	color: #A1A1A1;
}

h4 {
	color: #373737;
}

p {
	color: #7B7B7B;
}

.narra-lf-fa-banner {
	font-size: 40px;
	margin-left: 25px;
	color: #373737;
}

.narra-lf-fa {
	font-size: 55px;
	margin: 0px;
	margin-bottom: 25px;
	color: #373737;
}

.narra-lf-fa-footer {
	font-size: 25px;
	color: #A1A1A1;
	margin-left: 20px;
}

/* navbar */
.narra-lf-navbar {
	padding: 35px;
}

.narra-lf-navbar-logo {
	float: left;
}

.narra-lf-navbar-logo > h5 {
	letter-spacing: 3px;
	color: #373737;
}

.narra-lf-navbar-menu {
	float: right;
}

/* banner */
.narra-lf-banner {
	height: 500px;
}

.narra-lf-banner-img {
	height: 370px;
	background: url("../images/OI60Q00.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.narra-lf-banner-content {
	padding-top: 25px;
}

/* gallery */
.narra-lf-gallery {
	padding: 100px;
}

/* content */
.narra-lf-content {
	padding-bottom: 80px;
}


/* footer */
.narra-lf-footer {
	padding: 60px;
}